.jumbotron {
    background-color: lightblue;
    text-align: center;
    border-radius: 2%;
    color: rgb(7, 160, 58);
}
.container {
    width: 90%;
}
.table {
    margin-left: 10px;
    background-color: lightblue;
}
.form-group {
    margin-left: 10px;
    background-color: lightblue;
}
body {
    background-image: url(../images/steamtrain.jpg);
    background-image: cover;
    background-image: no-repeat;
    padding-bottom: 100px;
}
